<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380532373644-5hhumjf4v3mp6c3ifg6cfao1otdfe3d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380532373644-5hhumjf4v3mp6c3ifg6cfao1otdfe3d8</string>
	<key>API_KEY</key>
	<string>AIzaSyBMgXHsB9jtRKI8o1HuSlZ45hn-Y2Heq7o</string>
	<key>GCM_SENDER_ID</key>
	<string>380532373644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rohit.WeHR</string>
	<key>PROJECT_ID</key>
	<string>fir-b81f8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-b81f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380532373644:ios:6f85f368ce484b8a41a3a9</string>
</dict>
</plist>